.node {
    background-color: white;
    border-radius: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;

    width: 25px;
    height: 25px;
}

.open {
    background-color: #702f04;
}

.visited {
    background-color: #c5853d;
}

.path {
    animation-name: animatePath;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-fill-mode: forwards;
}

@keyframes animatePath {
    0% {
        transform: scale(0.6);
        background-color: rgb(4, 58, 112);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(32, 107, 182);
    }

    100% {
        transform: scale(1);
        background-color: rgb(130, 192, 255);
    }
}

.wall {
    background-color: black;
}
.start {
    background-color: green;
}

/* .start{
  
  animation-name: animateStart;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
@keyframes animateStart {
  0% {
    transform: scale(0.6);
    background-color: rgb(0, 122, 27);
  }
  100% {
    transform: scale(1);
    background-color: rgb(0, 255, 55);
  }
} */
.finish {
    background-color: red;
}

/* .finish{
  
  animation-name: animateFinish;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
@keyframes animateFinish {
  0% {
    transform: scale(0.6);
    background-color: rgb(114, 1, 1);
  }
  100% {
    transform: scale(1);
    
    background-color: rgb(255, 0, 43);
  }
} */

.nodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
